{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-start vh-100">
        <div class="w-50">
            <h1 class="text-center">{{ 'title.email_send'|trans }}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group row float-sm-right">
                <input type="submit" value="{{ 'action.send'|trans }}" class="btn btn-primary"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}